#descriptionbox{
    width: 75%;
}

.textbox{
    margin-left: 10px;
}

#ourteam{
    font-family: 'Oswald', sans-serif;
}

#meetteam{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: #141313;
}

#description{
    font-family: 'Oswald', sans-serif;
    color: #141313;
}

.containObject{
    background: #f6f8f8;
  }